*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 0.95rem;
  line-height: 1.5rem;
  color: hsl(233deg, 8%, 62%);
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}

.header {
  background-color: #fff;
  padding: 1.5rem 0;
}
.header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .btn {
  visibility: hidden;
  height: 0;
  width: 0;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
}

.nav {
  visibility: hidden;
  height: 0;
}

main {
  overflow: hidden;
}

h2 {
  color: hsl(233deg, 26%, 24%);
  font-weight: 400;
  line-height: 2.3rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.intro {
  background-image: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -4.3rem;
  overflow: hidden;
  text-align: center;
}
.intro__img {
  margin-top: -3.2rem;
}
.intro__info {
  padding: 1.5rem 0 5rem;
}
.intro__title {
  color: hsl(233deg, 26%, 24%);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.9rem;
}
.intro__text {
  margin: 1rem 0 2rem;
}

.info {
  background-color: hsl(220deg, 16%, 96%);
  padding: 4.5rem 0;
  text-align: center;
}
.info__text {
  margin-bottom: 3.5rem;
}

.col__title {
  color: hsl(233deg, 26%, 24%);
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.col__img {
  margin: 1.8rem auto;
}

.articles {
  padding: 5rem 0;
  background-color: hsl(0deg, 0%, 98%);
}
.articles__title {
  text-align: center;
  margin-bottom: 2rem;
}

.article {
  background-color: #fff;
}
.article .img__container {
  height: 13rem;
  position: relative;
  overflow: hidden;
}
.article__img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.article__container {
  padding: 2rem 2rem 4rem 2rem;
}
.article__author {
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}
.article__title {
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
  line-height: 1.2rem;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.article__text {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.footer {
  background-color: hsl(233deg, 26%, 24%);
  text-align: center;
}
.footer__logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg) brightness(105%) contrast(103%);
  padding: 2rem 0;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials__list {
  display: flex;
  flex-direction: row;
}
.socials__item {
  padding: 0 0.4rem;
}

footer .nav {
  visibility: visible;
  height: auto;
  margin: 1.5rem 0;
}
footer .nav__item {
  padding: 0.2rem;
  font-size: 0.8rem;
}
footer .nav__link {
  text-decoration: none;
  color: hsl(220deg, 16%, 96%);
  padding: 1rem;
}

.copyright {
  margin-top: 1.5rem;
}

.btn {
  background-image: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  font-size: inherit;
  color: #fff;
  border: none;
  padding: 0.7em 2.2em;
  border-radius: 200px;
  font-weight: 700;
  transition: transform 0.1s;
}
.btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.btn:active {
  transform: translateY(2px);
}

@media (min-width: 600px) {
  .header .nav {
    visibility: visible;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
  }
  .header .nav__list {
    display: flex;
  }
  .header .nav__link {
    text-decoration: none;
    color: hsl(233deg, 8%, 62%);
    margin-left: 1.8rem;
  }
  .nav-toggle {
    visibility: hidden;
    position: absolute;
  }
  .header .btn {
    position: absolute;
    visibility: hidden;
  }
  .intro__info {
    width: 70%;
    margin: 0 auto;
  }
  .info__text {
    width: 65%;
    margin: 0 auto 2rem;
  }
  .article__img {
    height: 100%;
  }
  .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .footer .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .nav__list {
    display: flex;
  }
  .nav__list + .nav__list {
    margin-top: 1rem;
  }
}
@media (min-width: 900px) {
  * {
    text-align: left;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container {
    position: relative;
  }
  .header__logo {
    width: 11rem;
  }
  .header .btn {
    position: static;
    visibility: visible;
    height: auto;
    width: auto;
  }
  .nav__link {
    font-size: 1.1rem;
  }
  .main .row {
    flex-direction: row-reverse;
  }
  .intro {
    background-image: none;
    overflow: visible;
    justify-content: space-between;
    position: relative;
  }
  .intro::before {
    content: "";
    position: absolute;
    inset: -12rem 0 0 47%;
    z-index: -1;
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
  }
  .intro__img {
    margin-right: -18rem;
    margin-bottom: -10rem;
  }
  .intro__info {
    width: 40%;
    position: absolute;
    left: 0;
  }
  .intro__title {
    font-size: min(4.5vw, 4rem);
    line-height: min(4.5vw, 4.5rem);
  }
  .intro__text {
    font-size: min(1.3vw, 1.2rem);
    line-height: min(1.9vw, 1.9rem);
  }
  .info__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .info__text {
    font-size: 1.1rem;
    width: 55%;
    margin: 0 0 1.5rem;
  }
  .columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .col {
    margin-bottom: 2rem;
  }
  .col__img {
    margin: 2.5rem 0;
  }
  .col__title {
    font-size: 1.4rem;
  }
  .articles__title {
    font-size: 2.7rem;
  }
  .article__container {
    padding: 1.5rem;
  }
  .article__title {
    font-size: 1.1rem;
  }
  .article__text {
    font-size: 0.84rem;
  }
  .footer .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .nav__list {
    display: flex;
  }
  .footer {
    padding: 1rem 0;
    text-align: center;
  }
  .footer__logo {
    margin-bottom: 2rem;
  }
  .footer .container {
    display: flex;
  }
  .footer .container div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
  }
  .footer .nav {
    flex-direction: row;
    gap: 4rem;
  }
  .footer .nav__list {
    display: block;
  }
  .footer .nav .nav__item + .nav__item {
    margin-top: 1rem;
  }
  .footer .nav__link {
    font-size: 1rem;
    opacity: 0.8;
  }
  .footer .btn {
    margin-bottom: 1rem;
  }
  .socials {
    margin-right: 5rem;
  }
  .nav__list + .nav__list {
    margin-top: 0rem;
  }
  .btn {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=main.css.map */
