//Basic Reset
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

ul {
  list-style: none;
}

$color-blue: hsl(233, 26%, 24%);
$color-green: hsl(136, 65%, 51%);
$color-cyan: hsl(192, 70%, 51%);
$color-grey: hsl(233, 8%, 62%);
$color-light-grey: hsl(220, 16%, 96%);
$color-verylight-grey: hsl(0, 0%, 98%);
$white: #fff;

body {
  font-family: "Public Sans", sans-serif;
  font-size: 0.95rem;
  line-height: 1.5rem;

  color: $color-grey;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}

.header {
  background-color: $white;
  padding: 1.5rem 0;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.nav-toggle {
  cursor: pointer;
  border: 0;
}

.nav {
  visibility: hidden;
  height: 0;
}

main {
  overflow: hidden;
}

h2 {
  color: $color-blue;
  font-weight: 400;
  line-height: 2.3rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.intro {
  background-image: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -4.3rem;
  overflow: hidden;
  text-align: center;

  &__img {
    margin-top: -3.2rem;
  }

  &__info {
    padding: 1.5rem 0 5rem;
  }

  &__title {
    color: $color-blue;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  &__text {
    margin: 1rem 0 2rem;
  }
}

.info {
  background-color: $color-light-grey;
  padding: 4.5rem 0;
  text-align: center;

  &__text {
    margin-bottom: 3.5rem;
  }
}

.col {
  &__title {
    color: $color-blue;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  &__img {
    margin: 1.8rem auto;
  }
}

.articles {
  padding: 5rem 0;
  background-color: $color-verylight-grey;

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.article {
  background-color: #fff;
  .img__container {
    height: 13rem;
    position: relative;
    overflow: hidden;
  }

  &__img {
    width: 100%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__container {
    padding: 2rem 2rem 4rem 2rem;
  }

  &__author {
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
  }

  &__title {
    font-weight: 400;
    color: $color-blue;
    line-height: 1.2rem;
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }

  &__text {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
}

.footer {
  background-color: $color-blue;
  text-align: center;

  &__logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg) brightness(105%) contrast(103%);
    padding: 2rem 0;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    padding: 0 0.4rem;
  }
}

footer .nav {
  visibility: visible;
  height: auto;
  margin: 1.5rem 0;

  &__item {
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  &__link {
    text-decoration: none;
    color: $color-light-grey;
    padding: 1rem;
  }
}

.copyright {
  margin-top: 1.5rem;
}

// Button
.btn {
  background-image: linear-gradient(to right, $color-green, $color-cyan);
  font-size: inherit;
  color: $white;
  border: none;
  padding: 0.7em 2.2em;
  border-radius: 200px;
  font-weight: 700;
  transition: transform 0.1s;

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(2px);
  }
}

@media (min-width: 600px) {
  .header .nav {
    visibility: visible;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;

    &__list {
      display: flex;
    }

    &__link {
      text-decoration: none;
      color: $color-grey;
      margin-left: 1.8rem;
    }
  }

  .nav-toggle {
    visibility: hidden;
    position: absolute;
  }

  .header .btn {
    position: absolute;
    visibility: hidden;
  }

  .intro__info {
    width: 70%;
    margin: 0 auto;
  }

  .info {
    &__text {
      width: 65%;
      margin: 0 auto 2rem;
    }
  }

  .article__img {
    height: 100%;
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .footer .nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
      display: flex;
    }
  }

  .nav__list + .nav__list {
    margin-top: 1rem;
  }
}

@media (min-width: 900px) {
  * {
    text-align: left;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container {
    position: relative;
  }

  .header {
    &__logo {
      width: 11rem;
    }

    .btn {
      position: static;
      visibility: visible;
      height: auto;
      width: auto;
    }
  }

  .nav__link {
    font-size: 1.1rem;
  }

  .main .row {
    flex-direction: row-reverse;
  }

  .intro {
    background-image: none;
    overflow: visible;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: -12rem 0 0 47%;
      z-index: -1;
      background-image: url(../images/bg-intro-desktop.svg);
      background-repeat: no-repeat;
    }

    &__img {
      margin-right: -18rem;
      margin-bottom: -10rem;
    }

    &__info {
      width: 40%;
      position: absolute;
      left: 0;
    }

    &__title {
      font-size: min(4.5vw, 4rem);
      line-height: min(4.5vw, 4.5rem);
    }

    &__text {
      font-size: min(1.3vw, 1.2rem);
      line-height: min(1.9vw, 1.9rem);
    }
  }

  .info {
    &__title {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    &__text {
      font-size: 1.1rem;
      width: 55%;
      margin: 0 0 1.5rem;
    }
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .col {
    margin-bottom: 2rem;
    &__img {
      margin: 2.5rem 0;
    }

    &__title {
      font-size: 1.4rem;
    }
  }

  .articles__title {
    font-size: 2.7rem;
  }

  .article {
    &__container {
      padding: 1.5rem;
    }

    &__title {
      font-size: 1.1rem;
    }

    &__text {
      font-size: 0.84rem;
    }
  }

  .footer .nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
      display: flex;
    }
  }

  .footer {
    padding: 1rem 0;
    text-align: center;

    &__logo {
      margin-bottom: 2rem;
    }

    .container {
      display: flex;

      div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-left: auto;
      }
    }

    .nav {
      flex-direction: row;
      gap: 4rem;

      &__list {
        display: block;
      }

      .nav__item + .nav__item {
        margin-top: 1rem;
      }

      &__link {
        font-size: 1rem;
        opacity: 0.8;
      }
    }

    .btn {
      margin-bottom: 1rem;
    }
  }

  .socials {
    margin-right: 5rem;
  }

  .nav__list + .nav__list {
    margin-top: 0rem;
  }

  //Button
  .btn {
    font-size: 1.1rem;
  }
}
